<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('./common/stylesheets') %>
</head>
<body>

<div class="container">
  <h2>Form control: input</h2>
  <p>The form below contains two input elements; one of type text and one of type password:</p>
  
    <div class="form-group">
      <label for="usr">First Name:</label>
      <input type="text" class="form-control" id="firstname">
    </div>
    <div class="form-group">
      <label for="usr">Last Name:</label>
      <input type="text" class="form-control" id="lastname">
    </div>
    <div class="form-group">
      <label for="usr">Email ID:</label>
      <input type="text" class="form-control" id="emailid">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password">
    </div>
  <button type="button" class="btn btn-success" id ="btn">Success</button>
</div>

</body>
</html>
<%- include('./common/javascripts') %>
<script>
$(document).ready(function() {
    $('#btn').click(function () {
          var data = {
            name : {
              first : $("#firstname").val(),
              last  : $("#lastname").val()
            },
            email : $("#emailid").val(),
            password : $("#password").val()
          };          
      console.log(data);
        $.ajax({
        type:"POST",
        url:"/admin_function",
        data :  data, 
        //dataType: 'json',  // multiple data sent using ajax
        success: function (result) {
           alert(result);
          
        }
        });
    });
});
</script>
